{% extends 'AppBundle::base.html.twig' %}

{% block page_content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Build list</h3>
                        <a class="btn btn-default" href="{{ path('create_build', {id: project.id}) }}">
                            Create build
                        </a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>#</th>
                                <th>Task</th>
                                <th>Progress</th>
                                <th>Label</th>
                            </tr>
                            {% for build in pagination %}
                                <tr>
                                    <td>{{ build.id }}</td>
                                    <td>{{ build.start|date('Y-m-d H:i:s') }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            {{ knp_pagination_render(pagination) }}
                        </ul>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
{% endblock page_content %}