{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}MindCI{% endblock %}

{% block avanzu_logo %}
    <a href="{{ path('dashboard') }}" class="logo">
        MindCI
    </a>
{% endblock %}

{% block avanzu_admin_footer %}
{% endblock avanzu_admin_footer %}

{% block page_title %}Dashboard{% endblock %}
{% block page_subtitle %}{% endblock %}


{% block page_content %}
{% endblock %}